@import "tailwindcss";

@font-face {
  font-family: "Satoshi-Black";
  src: url("/assets/Satoshi-Black.otf") format("otf");
}

@font-face {
  font-family: "Amulya-Bold";
  src: url("/assets/Amulya-Bold.otf") format("otf");
}

@font-face {
  font-family: "Synonym-Regular";
  src: url("/assets/Synonym-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

.font-satoshi-black {
  font-family: "Satoshi-Black", sans-serif;
}

.font-amulya-bold {
  font-family: "Amulya-Bold", sans-serif;
}
.moving-background {
  background: linear-gradient(
      to right,
      #6CA6A0 20%,
      #B4D8D5 30%,
      #DBEFED 70%,
      #ECDDC8 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 10s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

